
body {
    background-color: #624d09; 
    color: #fff; 
    font-family: Arial, sans-serif; 
    width: 80%;
    margin: 0 auto;
  }

  header {
    text-align: center;
    background-color: #624d09; 
    color: #fff; 
  }

  main {
    display: inline; 
    justify-content: space-between; 
}

  h1 {
    font-family: "Times New Roman", serif; 
    font-weight: bold; 
    font-size: 30px; 
  }
  
  nav {
    list-style-type: none;
    text-align: center;
    font-weight: bold; 
    margin-right: 20px;
  }
  
  em {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000; 
  }
  
  ul {
    list-style: circle; 
  }

  nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-bottom: 10px; 
}

nav li:hover {
  background-color: #e5e5e5; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;  
    background: rgb(255, 0, 0);
}

body.dark-mode {
  background-color: #333;
  color: white;
}

body {
  background-image: radial-gradient(#624d09 rgb(243, 166, 0), white);
}

.main-content {
  display: flex;
}

.column {
  flex: 1; 
  padding: 10px; 
}

img {
  max-width: 100%;
  height: auto;
}



@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    width: 80%;
  }
  nav {
    list-style-type: none;
    text-align: center;
    font-weight: bold; 
    margin-right: 20px;
  }
  main {
    width: 66.66%; 
  }
  footer {
    position: relative; 
  }
}



@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  nav {
    width: 100%;
    position: fixed;
    top: 0; 
  }
  main {
    width: 100%; 
  }
  footer {
    position: relative; 
  }
}


table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}
th {
  background-color: red;
  color: #ffffff;
  text-transform: uppercase;
}
th, td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: red;
}


form {
  width: 300px;
  margin: 20px 0;
}
label, input, select, textarea, button {
  display: block;
  margin: 10px 0;
}
label {
  width: 100%;
}
input[type="checkbox"] {
  display: inline;
  margin-right: 10px;
}